body{
    margin: 0;
    padding: 0;
    border: 5px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    color: white;
}
#first{
    height: 30px;
    width: 250px;
    margin: 15px;
    padding: 15px;
}
.f{
    background-color: white;
    color: black;
}
#second{
    height: 30px;
    width: 250px;
    margin: 15px;
    padding: 15px;
}
.s{
    background-color: black;
    color: white;
}
input{
    margin: 15px;
    padding: 15px;
    background-color: blue;
    color: white;
}
.cl1{
    background-color: black;
    color: white;
}
.cl2{
    background-color: white;
    color: black;
}